export VAULT_TOKEN=$(cat ~/.vault-token)
export DO_TOKEN=$(vault read -field=value secret/digitalocean)
export SSH_FINGERPRINT=$(ssh-keygen -E md5 -lf ~/.ssh/id_rsa.pub | awk '{print substr($2, 5)}')
